/*
1. Branco        -> #FFFFFF -> (255,255,255)
2. Roxo Escuro   -> #3C2DA4 -> (60,45,164)
3. Rosa Suave    -> #E79ECF -> (231,158,207)
4. Azul Claro    -> #A8D8F8 -> (168,216,248)
5. Roxo mais escuro (novo) → #181254  → (24, 18, 84)
6. Roxo ainda mais escuro (novo) → #120E3D → (18,14,61)
*/

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 250px;
    height: auto;
    background:#181254;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 1);
}

.footer h1{
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
}

.contato {
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer a {
    margin: 0 5px;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.00);
    font-size: 2.5em;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));
}

.footer-buttons {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    transition: 0.5s;
    box-sizing: border-box; /* Inclui padding no tamanho total */
    padding: 10px; /* Espaçamento interno */
}

#linkedin{
    color:#0072b1;
}

#instagram{
    color: #E1306C;
}

#github{
    color: #e1e1e1;
}

#whatsapp{
    color: #00dc00;
}

#linkedin:hover {
    background: #0072b1; /* Cor hexadecimal diretamente */
    box-shadow: 0 0 5px #0072b1,
                0 0 25px #0072b1,
                0 0 50px #0072b1,
                0 0 200px #0072b1;
                
    color: black;
}

#whatsapp:hover {
    background: #00dc00; /* Cor hexadecimal diretamente */
    box-shadow: 0 0 5px #00dc00,
                0 0 25px #00dc00,
                0 0 50px #00dc00,
                0 0 200px #00dc00;
                
    color: black;
}

#github:hover {
    background: #e1e1e1; /* Cor hexadecimal diretamente */
    box-shadow: 0 0 5px #e1e1e1,
                0 0 25px #e1e1e1,
                0 0 50px #e1e1e1,
                0 0 200px #e1e1e1;
    color: black;
}

#instagram:hover {
    background: #E1306C; /* Cor hexadecimal diretamente */
    box-shadow: 0 0 5px #E1306C,
                0 0 25px #E1306C,
                0 0 50px #E1306C,
                0 0 200px #E1306C;
    color: black;
}

/* Direitos */
.direitos {
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color: #120E3D;
}

.direitos p {
    color: #e1e1e1;
}
/* Fim dos Direitos */

@media screen and (max-width: 730px) {
    /* Direitos */
    .direitos {
        height: 50px;
    }
    .direitos p {
        font-size: 12px;
    }
    /* Fim dos Direitos */

}


@media (min-width: 330px) and (max-width: 480px) {
    .contato {
        gap: 10px
    }

    .footer-buttons {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 329px) {
    .contato {
        gap: 10px
    }

    .footer-buttons {
        width: 50px;
        height: 50px;
    }
}