/*
1. Branco        -> #FFFFFF -> (255,255,255)
2. Roxo Escuro   -> #3C2DA4 -> (60,45,164)
3. Rosa Suave    -> #E79ECF -> (231,158,207)
4. Azul Claro    -> #A8D8F8 -> (168,216,248)
5. Roxo mais escuro → #181254  → (24,18,84)
6. Roxo ainda mais escuro (novo) → #120E3D → (18,14,61)
7. Verde Vibrante → #04D98B -> (4,217,139)
*/


/* Dialog Login */

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Estilos para o dialog */
  .dialog {
    display: flex;
    background-color: white;
    border-radius: 40px;
    width: 800px;
    height: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .left h2 {
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
    color: #3C2DA4;
  }
  
  .form-dialog {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .right {
    background-color: #3C2DA4;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    border-radius: 100px 0 0 100px;
    /* Box-shadow para a esquerda */
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
  }
  
  .social-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .social-btn {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
  }
  
  .social-btn.google {
    background-color: #db4437;
  }
  
  .social-btn.facebook {
    background-color: #3b5998;
  }
  
  .social-btn.github {
    background-color: #333;
  }
  
  .social-btn.linkedin {
    background-color: #0077b5;
  }
  
  .social-btn:hover {
    opacity: 0.8;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none; /* Remove a borda azul padrão de foco */
    transition: box-shadow 0.3s ease-in-out;
  }
  
  input:hover {
    box-shadow: 0 4px 10px rgba(60,45,164, 0.3); /* Um pouco de sombra para destacar */
  }

  input:focus {
    box-shadow: 0 4px 10px rgba(60,45,164, 0.7); /* Um pouco de sombra para destacar */
  }

  .forgot-password a {
    color: #6c5ce7;
    font-size: 14px;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .sign-in-btn {
    width: 100%;
    padding: 10px;
    background-color: #6c5ce7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
  }
  
  .sign-in-btn:hover {
    box-shadow: 0 0 12px #6c5ce7;
  }
  
  .sign-up-btn {
    padding: 10px 20px;
    background-color: #A8D8F8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-up-btn:hover {
    box-shadow: 0 0 12px #A8D8F8;
  }
  
  .right h2 {
    font-size: 3rem;
    font-family: 'Dosis', sans-serif
  }

  .right p {
    font-size: 1.2rem;
    font-family: 'Dosis', sans-serif
  }
  
/* Fim do Dialog Login */

.bg-secondary{
    background: radial-gradient(circle, rgba(231,158,207, 0) 0%, rgba(231,158,207, 0.3) 70%, rgba(231,158,207, 0) 100%);
}

.text-primary {
    color: #3C2DA4;
}

.text-terciary {
    color: #A8D8F8;
}

.border-terciary {
    border-color: #A8D8F8;
}

.border-terciary:hover {
    background-color: #A8D8F8;
}

.border-primary {
    border-color: #3C2DA4;
}

.border-primary:hover {
    background-color: #3C2DA4;
}