/*
1. Branco        -> #FFFFFF -> (255,255,255)
2. Roxo Escuro   -> #3C2DA4 -> (60,45,164)
3. Rosa Suave    -> #E79ECF -> (231,158,207)
4. Azul Claro    -> #A8D8F8 -> (168,216,248)
5. Roxo mais escuro → #181254  → (24,18,84)
6. Roxo ainda mais escuro (novo) → #120E3D → (18,14,61)
7. Verde Vibrante → #04D98B -> (4,217,139)
*/

.plan-card {
    background: #fff;
    width: 400px;
    height: 480px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 30px rgba(207, 212, 222, 1);
    font-family: "Poppins", sans-serif;
    transition: all 0.4s ease-in-out;
    color: #3C2DA4;
  }

  .plan-card:hover {
    box-shadow: 0 6px 30px rgba(60,45,164, 0.8);
  }

  .plan-card h2 {
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 600;
  }

  .plan-card h2 span {
    display: block;
    margin-top: -4px;
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 400;
  }

  .etiquet-price {
    position: relative;
    background: #A8D8F8;
    width: 24.5rem;
    margin-left: -0.65rem;
    margin-bottom: 20px;
    padding: .2rem 1.2rem;
    border-radius: 5px 0 0 5px;
  }

  .etiquet-price p {
    margin: 0;
    padding-top: .4rem;
    display: flex;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .etiquet-price p:before {
    content: "R$";
    margin-right: 5px;
    font-size: 15px;
    font-weight: 300;
  }

  .etiquet-price p:after {
    content: "/ mês";
    margin-left: 5px;
    font-size: 15px;
    font-weight: 300;
  }

  .etiquet-price.anual p:after {
    content: "/ anual";
    margin-left: 5px;
    font-size: 15px;
    font-weight: 300;
  }

  .etiquet-price div {
    position: absolute;
    bottom: -23px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 13px solid #3C2DA4;
    border-bottom: 10px solid transparent;
    border-right: 13px solid transparent;
    z-index: -6;
  }

  .benefits-list {
    margin-top: 16px;
  }

  .benefits-list ul {
    padding: 0;
    font-size: 14px;
  }

  .benefits-list ul li {
    color: #4d4d4d;
    list-style: none;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .benefits-list ul li svg {
    width: .9rem;
    fill: currentColor;
  }

  .benefits-list ul li span {
    font-weight: 300;
  }

  .button-get-plan {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
  }

  .button-get-plan a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3C2DA4;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .button-get-plan a:hover {
    transform: translateY(-3%);
    box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
  }

  .button-get-plan .svg-rocket {
    margin-right: 10px;
    width: .9rem;
    fill: currentColor;
  }