/*
1. Branco        -> #FFFFFF -> (255,255,255)
2. Roxo Escuro   -> #3C2DA4 -> (60,45,164)
3. Rosa Suave    -> #E79ECF -> (231,158,207)
4. Azul Claro    -> #A8D8F8 -> (168,216,248)
5. Roxo mais escuro → #181254  → (24,18,84)
6. Roxo ainda mais escuro (novo) → #120E3D → (18,14,61)
7. Verde Vibrante → #04D98B -> (4,217,139)
*/

section {
    width: 100%;
    min-height: 50vh;
    padding: 10vh 100px;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    /*box-shadow: 10px 50px 10px rgba(0, 0, 0, 1); /* Um pouco de sombra para destacar */
}
/* Main */

.main {
    background: radial-gradient(circle, rgba(60 ,45 ,164 , 1) 0%, rgba(60 ,45 ,164 , 0.9) 70%, rgba(60 ,45 ,164 , 1) 100%);
    /*background: linear-gradient(to left, #1f1561, #0d0838);*/
    height: 80vh;
}

/* 1f1561 */

.container-main {
    width: 100%;
    height: 100%;
    display: flex;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    animation: slideIn 1s ease-out; /* Aplicando a animação */
    gap: 40px;
}

.container-tittle {
    height: 30%;
}

.container-text .container-tittle h1 {
    font-size: 3rem;
}

.container-text .container-tittle h2 {
    font-size: 2.3rem;
}

.sub-tittle {
    gap: 60px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: left-start;
}

.container-text h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.span-tittle {
    color: #A8D8F8;
    font-family: 'Orbitron', sans-serif;
}

.subtitle-div-button {
    align-self: center;
    margin-left: -100px; /* Ajusta para a esquerda */
}

.subtitle-button {
    width: 50%;
    color: #A8D8F8; /* Cor do texto */
    padding: 20px;
    border: 2px solid #A8D8F8; /* Borda verde */
    border-radius: 40px;
    background-color: transparent; /* Fundo transparente */
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.8s; /* Transição suave */
}

.subtitle-button:hover {
    background-color: #fff; /* Fundo branco ao passar o mouse */
    color: #3C2DA4; /* Cor do texto muda */
    border-color: #3C2DA4; /* A borda também muda para a mesma cor do texto */
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px); /* Começa 20px acima */
        opacity: 0; /* Começa invisível */
    }
    100% {
        transform: translateY(0); /* Vai até a posição original */
        opacity: 1; /* Fica totalmente visível */
    }
}

.container-iframe {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: radial-gradient(circle, rgba(255,255,255, 0.3) 0%, rgba(255,255,255, 1) 70%, rgba(255,255,255, 0.3) 100%);
    border-top-left-radius: 350px;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 50px;

}

.container-iframe iframe {
    width: 700px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.5);
    -webkit-box-reflect: below -350px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
}

.container-iframe iframe:hover {
    transform: scale(1.01);
}

/* Fim da Main */

/* Form */

.form {
    background: radial-gradient(circle, rgba(231,158,207, 0.7) 0%, rgba(231,158,207, 0.1) 70%, rgba(231,158,207, 0.7) 100%);
    height: 80vh;
}

/* Manchas triangulares nos cantos */
.bubble {
    position: absolute;
    pointer-events: none; /* Evita interferência no conteúdo */
    opacity: 0.3; /* Opacidade da mancha */
    border-radius: 50%; /* Bordas suaves */
}

.container-form {
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 15%;
}

.container-oval-txt {
    width: 40%; /* Aumenta a largura para um formato mais oval */
    height: 600px; /* Ajuste proporcional da altura */
    background: radial-gradient(circle, rgba(60,45,164, 0.8) 0%, rgba(60,45,164, 1) 70%, rgba(60,45,164, 0.8) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 300px;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 400px;
    overflow: hidden; /* Garante o formato limpo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Um pouco de sombra para destacar */
}

.container-oval-txt h1 {
    color: #A8D8F8;
    font-size: 3.2rem;
    align-self: flex-start;
    margin-left: 30px;
    padding-bottom: 30px;
}

.container-oval-txt h2 {
    width: 75%;
    color: #fff;
    font-size: 1.8rem;
}

.container-panel-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: transparent;
    /*border: 3px solid #1f1561; */
    box-shadow: 0 4px 10px rgba(60,45,164, 0.9); /* Um pouco de sombra para destacar */
    border-radius: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}

.form-group label {
    color: #3C2DA4;
    font-size: 1.3rem;
}

.form-group input {
    color: #3C2DA4;
    padding: 12px 10px;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(60,45,164, 0.4); /* Um pouco de sombra para destacar */
    outline: none; /* Remove a borda azul padrão de foco */
    transition: 0.5s;
}

.form-group input:hover {
    box-shadow: 0 4px 10px rgba(60,45,164, 0.7); /* Um pouco de sombra para destacar */
}

.form-group input:focus {
    box-shadow: 0 4px 15px rgba(60,45,164, 0.7); /* Destaca com uma sombra maior */
}

.form-group textarea {
    color: #3C2DA4;
    height: 100px;
    padding: 10px 10px;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(60,45,164, 0.4); /* Um pouco de sombra para destacar */
    transition: 0.5s;
}

.form-group textarea:hover {
    box-shadow: 0 4px 10px rgba(60,45,164, 0.7); /* Um pouco de sombra para destacar */
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.checkbox-group label {
    color: #3C2DA4;
    font-size: 1.2rem;
}

/* Estilo padrão da checkbox */
.checkbox-form {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3C2DA4;
    border-radius: 4px;
    background: ccc;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: all 0.3s ease;
}

/* Quando a checkbox está marcada */
.checkbox-form:checked {
    background-color: #04d98b;
    border-color: #04d98b;
}

/* Ajuste do "check" */
.checkbox-form:checked::after {
    content: '';
    position: absolute;
    top: 2px; /* Ajustado para centralizar verticalmente */
    left: 5px; /* Ajustado para centralizar horizontalmente */
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); /* Forma do check */
    transform-origin: center; /* Certifica-se de que o check gire centralizado */
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-submit-form {
    margin-top: 30px;
    padding: 12px 24px;
}

.button-group button {
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: #3C2DA4;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.7s ease;
    box-shadow: 0 4px 10px rgba(60,45,164, 0.5); /* Um pouco de sombra para destacar */
} 

.button-group button:hover {
    box-shadow: 0 4px 10px rgba(60,45,164, 1); /* Um pouco de sombra para destacar */
} 

/* Fim do Form */

/* Planos */

.planos {
    background: radial-gradient(circle, rgba(231,158,207, 0.7) 0%, rgba(231,158,207, 0.1) 70%, rgba(231,158,207, 0.7) 100%);
    height: 90vh;
}

.container-planos {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.container-card-planos {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.container-planos-tittle {
    display: flex;
    justify-content: center;
}

.container-planos-tittle h1 {
    background: linear-gradient(to right, #3C2DA4 30%, #120E3D 50%, #181254 70%); /* Intensificando as cores nas extremidades 3C2DA4 120E3D 181254*/ 
    -webkit-background-clip: text; /* Aplica o gradiente no texto para navegadores WebKit */
    background-clip: text; /* Compatibilidade padrão, mas não amplamente suportado */
    color: transparent; /* Torna o texto transparente para que o gradiente seja visível */
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
}

/* Fim do Planos */

/* FAQ */

/* Fim do FAQ */

/* Responsividade */
@media (max-width:329px) {
    section {
        padding: 40px 30px;
        height: auto;
    }

    /* Main */

    .container-main {
        flex-direction: column;
        gap: 50px;
    }

    .container-text {
        gap: 40px;
        align-items: center;
    }

    .container-tittle {
        padding: 0px 5%;
    }

    .container-text .container-tittle h1 {
        font-size: 1.5rem;
    }

    .container-text .container-tittle h2 {
        font-size: 1.3rem;
    }

    .container-text h2 {
        font-size: 0.6rem;
    }

    button {
        padding: 8px 32px;
        font-size: 10px;
    }

    .sub-tittle {
        gap: 30px;
    }

    .subtitle-div-button {
        margin-left: 0;
    }

    .container-iframe {
        width: 250px;
        height: 120px;
        background: #050505;
        border: 6px solid #000;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        align-self: center;
    }
    
    .container-iframe iframe {
        width: 200px;
        height: 114px;
    }

    .container-iframe iframe {
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0)); /* Reflexo "vazio" */
    }

    /* Fim da Main */
}

@media (min-width: 330px) and (max-width: 480px) {
    section {
        padding: 40px 30px;
        height: auto;
    }

    /* Main */

    .container-main {
        flex-direction: column;
        gap: 50px;
    }

    .container-text {
        gap: 40px;
        align-items: center;
    }

    .container-tittle {
        padding: 0px 5%;
    }

    .container-text .container-tittle h1 {
        font-size: 1.5rem;
    }

    .container-text .container-tittle h2 {
        font-size: 1.3rem;
    }

    .container-text h2 {
        font-size: 0.715rem;
    }

    button {
        padding: 8px 32px;
        font-size: 10px;
    }

    .sub-tittle {
        gap: 30px;
    }

    .subtitle-div-button {
        margin-left: 0;
    }

    .container-iframe {
        width: 250px;
        height: 120px;
        background: #050505;
        border: 6px solid #000;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        align-self: center;
    }
    
    .container-iframe iframe {
        width: 225px;
        height: 114px;
    }

    .container-iframe iframe {
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0)); /* Reflexo "vazio" */
    }

    /* Fim da Main */

}

@media (min-width: 481px) and (max-width: 730px) {
    section {
        padding: 40px 50px;
        height: auto;
    }

    /* Main */

    .container-main {
        flex-direction: column;
        gap: 80px;
    }

    .container-text {
        gap: 30px;
    }

    .container-text h2 {
        font-size: 1.4rem;
    }

    .sub-tittle {
        gap: 50px;
    }

    .subtitle-div-button {
        margin-left: 0;
    }

    .container-iframe {
        width: 450px;
        height: 225px;
        background: #050505;
        border: 6px solid #000;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        align-self: center;
    }
    
    .container-iframe iframe {
        width: 350px;
        height: 225px;
    }

    .container-iframe iframe {
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0)); /* Reflexo "vazio" */
    }

    /* Fim da Main */

}

@media (min-width: 731px) and (max-width: 1024px) {
    section {
        padding: 50px 0px;
        height: auto;
    }

    /* Main */

    .container-main {
        flex-direction: column;
        gap: 80px;
        align-items: center;
    }


    .container-text {
        gap: 30px;
        align-items: center;

    }

    .container-text h2 {
        font-size: 1.7rem;
    }

    .sub-tittle {
        gap: 50px;
    }

    .subtitle-div-button {
        margin-left: 0;
    }

    button {
        padding: 20px 80px;
    }

    .container-iframe {
        width: 600;
        height: 350;
        background: #050505;
        border: 12px solid #000;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    
    .container-iframe iframe {
        width: 600px;
        height: 350px;
    }

    .container-iframe iframe {
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0)); /* Reflexo "vazio" */
    }

    /* Fim da Main */

}

@media (min-width: 1025px) and (max-width: 1280px) {
    section {
        height: 72vh;
        padding: 50px 50px;
    }

    /* Main */

    .container-text .container-tittle h1 {
        font-size: 2.3rem;
    }

    .container-text .container-tittle h2 {
        font-size: 2rem;
    }

    .sub-tittle {
        height: 40%;
        gap: 40px;
    }

    .container-text h2 {
        font-size: 1.1rem;
    }

    .container-iframe iframe {
        width: 450px;
        height: 275px;
        -webkit-box-reflect: below -220px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9)); /* Reflexo "vazio" */
    }

    .container-iframe {
        height: 500px;
        border-top-left-radius: 300px;
    }

    /* Fim da Main */

}

@media (min-width: 1281px) and (max-width: 1440px) {
    section {
        height: 72vh;
        padding: 20px 50px;
    }

    /* Main */

    .container-text {
        gap: 20px;
    }

    .container-text .container-tittle h1 {
        font-size: 2.6rem;
    }

    .container-text .container-tittle h2 {
        font-size: 2.3rem;
    }

    .sub-tittle {
        height: 30%;
        gap: 50px;
    }

    .container-text h2 {
        font-size: 1.4rem;
    }

    .container-iframe {
        align-self: center;
        height: 550px;
        border-top-left-radius: 300px;
        border-bottom-right-radius: 200px;
    }

    .container-iframe iframe {
        width: 500px;
        height: 300px;
        -webkit-box-reflect: below -200px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
    }

    /* Fim da Main */

}

@media (min-width: 1441px) and (max-width: 1799px) {
    section {
        padding: 50px 100px;
    }

    /* Main */

    .container-iframe {
        width: 70%;
        height: 650px;
        align-self: center;
    }

    .container-iframe iframe{
        width: 550px;
        height: 350px;
    }

    /* Fim da Main */
}
